// page-contact --- page-contact --- page-contact ---
// page-contact --- page-contact --- page-contact ---
// page-contact --- page-contact --- page-contact ---

.contact-flex-box {
  @include media-med {
    display: flex;
    justify-content: space-between;
  }
}

.contact-form {
  @include media-med {
    width: 60%;
  }
}

.contact-addresses {
  @include media-med {
    width: 30%;
  }
}

// page form complete --- page form complete ---
// page form complete --- page form complete ---
// page form complete --- page form complete ---

.form-comp {
  margin-bottom: 200px;
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    @include media-sml {
      font-size: 30px;
    }

    @include media-med {
      font-size: 34px;
    }

    @include media-lrg-xl {
      font-size: 40px;
    }
  }
}

.form-comp-button {
  display: flex;
  justify-content: center;
  div {
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    background: $turquoise;
    color: white;
    transition: 0.4s;
    line-height: 1.4;

    &:hover {
      color: $darkblue;
    }
  }
}

// Hubspot pop-up form --- Hubspot pop-up form ---
// Hubspot pop-up form --- Hubspot pop-up form ---
// Hubspot pop-up form --- Hubspot pop-up form ---

.hs-pop-up-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(black, 0.5);
  z-index: 2;
  display: none;
  overflow: scroll;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.hs-pop-up-wrapper::-webkit-scrollbar {
  width: 0 !important;
}

.hs-pop-up-wrapper {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.hs-pop-up-show {
  display: block;
}

.hs-pop-up {
  background: white;
  width: 90%;
  margin: 120px auto;
  padding: 70px 20px 0 20px;
  position: relative;

  @include media-med {
    width: 540px;
    margin: 120px auto 0;
  }

  @include media-lrg {
    margin: 140px auto 0;
  }
  @include media-lrg-xl {
    margin: 170px auto 0;
  }

  h3 {
    margin: 0;
  }
}

.close-modal {
  position: absolute;
  top: 0;

  left: 0;
  right: 0;

  width: 100%;
  padding: 10px;
  background-color: $lightgrey;

  display: flex;
  justify-content: flex-end;

  span {
    background-color: white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-color: $turquoise;
      // color: white;
    }
  }
}

// Page Hero Large --- Page Hero Large --- Page Hero Large ---
// Page Hero Large --- Page Hero Large --- Page Hero Large ---
// Page Hero Large --- Page Hero Large --- Page Hero Large ---

.hero-large-btn-wrapper {
  position: relative;
  margin-bottom: 40px;
  @include media-lrg {
    margin-bottom: 90px;
  }
}

.hero-large-btn {
  width: 100px;
  position: absolute;
  left: 0;
  bottom: -50px;

  @include media-lrg {
    width: 185px;
    bottom: -92px;
  }
}

.hero-large-page-content {
  margin-top: 30px;
  margin-bottom: 50px;
  @include media-lrg {
    margin-bottom: 100px;
  }
}

// Specific for the Tamp1 page
.tamp-image1-wrapper {
  background: $lightgrey;
  display: flex;
  align-items: center;
  margin-top: -40px;
  padding: 20px;
  @include media-med {
    height: 600px;
    margin-top: -90px;
  }
}

.tamp-image1 {
  width: 100%;
  margin: auto;
  max-width: 760px;
}

.tamp-image2-wrapper {
  background: $darkgrey;
  padding: 50px;

  @include media-med {
    padding: 50px 0 0 0;
  }
}

.tamp-image2-flexbox {
  display: flex;
}
.tamp-image2a {
  width: 40%;
  display: none;
  @include media-med {
    display: block;
  }
}

.tamp-image2b-wrapper {
  width: 100%;
  @include media-med {
    width: 50%;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tamp-image2b {
  width: 200px;
  @include media-med {
    width: 250px;
  }

  @include media-lrg {
    width: 300px;
  }
}

// Section Templates --- Section Templates --- Section Templates ---
// Section Templates --- Section Templates --- Section Templates ---
// Section Templates --- Section Templates --- Section Templates ---

.products-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-direction: column;
  @include media-med {
    flex-direction: row;
    margin: 120px auto;
  }
}

.products-card {
  width: 100%;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 40px;

  @include media-med {
    width: 30%;
    max-width: 280px;
  }
}

.products-card--img {
  width: 60%;
  margin: 0 auto 40px;
  @include media-med {
    width: 70%;
    margin: 0 auto 70px;
  }
}

.products-card--text {
  h4 {
    color: $blue;

    font-weight: bold;
    font-style: oblique;
  }
}

.products-button-wrapper {
  text-align: center;
  margin-bottom: 60px;
  @include media-med {
    margin: 40px 0 100px;
  }
}

.products-button {
  padding: 10px 15px;
  background: $skyblue;
  display: inline;
  border-radius: 20px;
  span {
    color: $darkblue;
    font-weight: bold;
  }
  cursor: pointer;
  transition: 0.4s;
  &:hover {
    span {
      color: white;
    }
  }
}

// page-hero-small -- page-hero-small -- page-hero-small --
// page-hero-small -- page-hero-small -- page-hero-small --
// page-hero-small -- page-hero-small -- page-hero-small --

.hero-small {
  position: relative;
  height: 300px;
  img {
    object-fit: cover;
    height: 100%;
  }
  margin-bottom: 50px;
  @include media-lrg {
    margin-bottom: 50px;
  }
}

.hero-small--bkg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #00a1b8, #007288);
  z-index: -2;
}

.hero-small--content {
  position: relative;
  height: 300px;

  display: flex;
  align-items: center;

  @include media-lrg {
    // height: 50vh;
  }
}

.hero-small--title {
  text-align: center;
  width: 100%;

  @include media-lrg {
    width: 50%;
    text-align: left;
  }

  h1 {
    color: white;
    margin: 0;
  }
}

.hero-small--image {
  display: none;
  @include media-lrg {
    display: block;
  }
  position: absolute;

  bottom: 0;
  right: 0;
  width: 480px;
  z-index: -1;
}

// hero-sml-no-illus --- hero-sml-no-illus --- hero-sml-no-illus ---
// hero-sml-no-illus --- hero-sml-no-illus --- hero-sml-no-illus ---
// hero-sml-no-illus --- hero-sml-no-illus --- hero-sml-no-illus ---

.hero-small-no-illus {
  position: relative;
  margin-bottom: 50px;
  @include media-lrg {
    margin-bottom: 50px;
  }
}

.hero-small-no-illus--bkg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // background-image: linear-gradient(to bottom, $lightblue, $skyblue);
  z-index: -2;
}

.products-bkg {
  background-image: linear-gradient(to bottom, $lightblue, $skyblue);
}

.principles-bkg {
  background-image: linear-gradient(to bottom, $blue, #007288);
}

// $lightblue: #a4f2ff;
// $skyblue: #4dd3ea;

.hero-small-no-illus--content {
  position: relative;
  // height: 300px;
  display: flex;
  align-items: center;

  @include media-lrg {
    height: 50vh;
  }
}

.hero-small-no-illus--title {
  text-align: center;
  width: 100%;
  margin: 50px 0;
  @include media-lrg {
    margin: 0;
  }
  h1,
  h2 {
    // color: white;
  }
}

.principles-color {
  h1,
  h2 {
    color: white;
  }
}

// skyline hero --- skyline hero --- skyline hero ---
// skyline hero --- skyline hero --- skyline hero ---
// skyline hero --- skyline hero --- skyline hero ---

.skyline-hero {
  height: 180px;
  background-image: linear-gradient(to bottom, #e0f7ff, #a4f2ff 62%);
  position: relative;
  margin-bottom: 40px;
  @include media-med {
    margin-bottom: 60px;
    height: 300px;
  }
}

.skyline-hero--img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  img {
    object-fit: cover;
    height: 100%;
  }
}

// WEBFLOW --- WEBFLOW --- WEBFLOW --- WEBFLOW ---
// WEBFLOW --- WEBFLOW --- WEBFLOW --- WEBFLOW ---
// WEBFLOW --- WEBFLOW --- WEBFLOW --- WEBFLOW ---

.header-wrapper {
  background: $blue;
  z-index: -1000;
  // height: 400px;
  height: 77vh;

  @include media-x-sml {
    min-height: 500px;
    max-height: 550px;
  }

  @include media-sml {
    max-height: 550px;
  }

  @include media-lrg {
    max-height: 580px;
  }
}

.pagetitle {
  font-family: "GT Walsheim", sans-serif;
  h1 {
    margin: 0;
    color: $darkblue;
  }
}

.white {
  h1 {
    color: white;
  }
}
